/* Global */
* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
  }
  
  body {
    
    font-family: Muli;
    font-style: normal;
  }
  
  img {
    width: 100%;
  }
  
  h3, h4 {
    font-weight: 600;
  }

#header{
    background: rgb(230, 219, 219) url("../assets/images/group-successful-doctors-hospital_85574-5175.jpg");
    background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;

}
#header #logo{
  color: #0052FF;
  font-weight: bolder;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
  }

.department>.container>h1{
    text-align: center;
}
/* Header */
nav.navbar-dark {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
  }
  .navbar-dark .navbar-brand {
    color: white;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: white;
    margin: 0 0.75rem;
  }
  
  nav.nav-sticky {
    background-color:rgb(230, 219, 219);
  }

  /* feature Icons*/
  #icons-padding{
    margin-top: 30px;
     padding-top: 0px;
  }

  .feature-icons .card-title{
    color: #0052FF;
  }

  .feature-icons .card-img{
    width: 150px;
    height: 150px;
  
  }

  /*Departments*/
  .departments{
    background-color: #F9F9F9;;
  }
.departments h1{
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  color: #3A3A3A;
}
.departments .card-img{
  width: 100px;
  height: 100px;
}
.departments .card-title{
  color: #0052FF;
}
.departments .highlighted{
  color: white;
  background-color: 0052FF  
}

/*services*/
.services h1{
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  color: #3A3A3A;
}
.services .highlighted{
  color: rgb(251, 251, 251);
  background-color: #0052FF; 
}
.services #card-title{
  color: #0052FF;
}

.services .transparent{
  background: rgba(0, 0, 0, 0);
}

  /* FAQ */
  .faq{
    background-color: #F9F9F9;;
  }
.faq h1{
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  color: #3A3A3A;
}

/*Our Specialist*/

.specialist h1{
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  color: #3A3A3A;
}
.specialist .card-title{
  color: #0052FF;
}

/* Testimonial*/
.Testimonial{
  background: url("../assets/images/image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  display: flex;
  background-color: rgba(0, 82, 255, 0.5)

}
.Testimonial .rounded-pill{
  width: 70px;
  height: 70px;
}
.Testimonial h1{
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  color: black
}

.Testimonial .banner{
  background-color: rgba(0, 82, 255, 0.5)
}
.star-icon{
  color: #FFBB0B;
}
.star-icon .name{
  color:black
}

.Testimonial .arrow{
  width: 30px;
  height: 30px;
  
}
/*Email us*/

.email h4{
  font-style: normal;
  font-weight: lighter;
  font-size: 30px;
  line-height: 100%;
  color: #3A3A3A;
}

.map-section{
  background: url("../assets/images/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  display: flex;
}

/*Contact Us*/
.contact-section h1{
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  color: #3A3A3A;
}

footer {
  background-color: #0052FF;
  color: white;
}

footer img {
  width: 30px;
}
.social-links {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  footer .container {
    display: flex;
    justify-content: space-between;
  }

  .social-links span {
    margin: 0 1rem;
  }
}